body {
  background-color: #282c34;
}

#root {
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.navDrawer {
  background-color: orange;
  width: 1.7em;
  padding-top: 0.5em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.navItem.navLastElement {
  padding-bottom: 0.1em;
}

img.navProfile {
  width: 65%;
  border-radius: 50%;
  border: 3px solid white;
  display: block;
  margin: auto;
}

.navDivider {
  width: 70%;
  border-width: 0;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  margin-block-start: 0.3em;
}

.navItem {
  color: white;
  padding-bottom: 0.3em;
}
